# Base files
config.el
.personal.el

# Base directory
.cache/
extra/

# Project specific
working-config.org
working-config.el

# Library
lib/sandbox/
lib/packages/
!lib/modules/
!lib/scripts/

# Block for gtags
GPATH
GTAGS
GRTAGS

# Block for emacs
*.elc
.#*
*Org Src*
/.project-locals.el
